body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2082px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:529px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:821px;
  width:380px;
  height:529px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:657px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:62px;
  width:1090px;
  height:657px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:2px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:109px;
  width:854px;
  height:1px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:81px;
  width:18px;
  height:14px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:76px;
  width:23px;
  height:23px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:62px;
  width:1px;
  height:48px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:66px;
  width:29px;
  height:16px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:85px;
  width:55px;
  height:16px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:81px;
  width:1px;
  height:26px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:86px;
  width:57px;
  height:16px;
  color:#1E1E1E;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:131px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:658px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:62px;
  width:236px;
  height:658px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:505px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:194px;
  width:85px;
  height:30px;
  font-size:12px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:2px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:244px;
  width:756px;
  height:1px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:2px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:289px;
  width:756px;
  height:1px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:258px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:260px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:260px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:307px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:307px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:657px;
  width:112px;
  height:22px;
}
#u391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u391_input:disabled {
  color:grayText;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:659px;
  width:47px;
  height:19px;
  font-size:16px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:659px;
  width:99px;
  height:19px;
  font-size:16px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:659px;
  width:118px;
  height:19px;
  font-size:16px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:656px;
  width:41px;
  height:25px;
}
#u395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:199px;
  width:150px;
  height:25px;
}
#u396_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:203px;
  width:16px;
  height:16px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:204px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:840px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:839px;
  width:21px;
  height:20px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:877px;
  width:378px;
  height:1px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:904px;
  width:70px;
  height:16px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:930px;
  width:322px;
  height:25px;
}
#u403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:965px;
  width:33px;
  height:16px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:991px;
  width:322px;
  height:25px;
}
#u405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1059px;
  width:124px;
  height:16px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u406_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:1082px;
  width:124px;
  height:16px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u407_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:1105px;
  width:124px;
  height:16px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u408_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1131px;
  width:124px;
  height:16px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u409_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1157px;
  width:124px;
  height:16px;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u410_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1183px;
  width:124px;
  height:16px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u411_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1209px;
  width:124px;
  height:16px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u412_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1235px;
  width:124px;
  height:16px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u413_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:307px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:307px;
  width:43px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:355px;
  width:23px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:405px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:356px;
  width:43px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:405px;
  width:43px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:356px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:356px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:405px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:405px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:529px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:62px;
  width:380px;
  height:529px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:81px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:80px;
  width:21px;
  height:20px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1438px;
  top:118px;
  width:378px;
  height:1px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:145px;
  width:70px;
  height:16px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:171px;
  width:322px;
  height:25px;
}
#u429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1475px;
  top:206px;
  width:33px;
  height:16px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:232px;
  width:322px;
  height:25px;
}
#u431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:274px;
  width:168px;
  height:16px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1484px;
  top:300px;
  width:124px;
  height:16px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u433_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:323px;
  width:124px;
  height:16px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u434_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:346px;
  width:124px;
  height:16px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u435_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1484px;
  top:372px;
  width:124px;
  height:16px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u436_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:398px;
  width:124px;
  height:16px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u437_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:424px;
  width:124px;
  height:16px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u438_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:1484px;
  top:450px;
  width:124px;
  height:16px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u439_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:476px;
  width:124px;
  height:16px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u440_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:502px;
  width:124px;
  height:16px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u441_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:1484px;
  top:533px;
  width:124px;
  height:16px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u442_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:656px;
  width:322px;
  height:201px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:677px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:706px;
  width:322px;
  height:1px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:1720px;
  top:676px;
  width:21px;
  height:20px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:1456px;
  top:743px;
  width:177px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:1300px;
  width:76px;
  height:32px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:798px;
  width:76px;
  height:40px;
  color:#FFFFFF;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:209px;
  width:0px;
  height:0px;
}
#u450_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:19px;
  height:8px;
}
#u450_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:8px;
  height:569px;
}
#u450_seg2 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:557px;
  width:170px;
  height:8px;
}
#u450_seg3 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:557px;
  width:8px;
  height:55px;
}
#u450_seg4 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:599px;
  width:18px;
  height:19px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:372px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:424px;
  width:0px;
  height:0px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:37px;
  width:250px;
  height:8px;
}
#u451_seg2 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:-101px;
  width:8px;
  height:146px;
}
#u451_seg3 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:-101px;
  width:111px;
  height:8px;
}
#u451_seg4 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:-106px;
  width:19px;
  height:18px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:173px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:415px;
  width:0px;
  height:0px;
}
#u452_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u452_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-4px;
  width:8px;
  height:350px;
}
#u452_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:338px;
  width:250px;
  height:8px;
}
#u452_seg3 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:333px;
  width:19px;
  height:18px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:268px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1262px;
  width:124px;
  height:16px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u453_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:346px;
  width:112px;
  height:22px;
}
#u454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u454_input:disabled {
  color:grayText;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:421px;
  width:112px;
  height:22px;
}
#u455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u455_input:disabled {
  color:grayText;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:499px;
  width:112px;
  height:22px;
}
#u456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u456_input:disabled {
  color:grayText;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1105px;
  width:112px;
  height:22px;
}
#u457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u457_input:disabled {
  color:grayText;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:1033px;
  width:168px;
  height:16px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2081px;
  top:289px;
  width:1px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1300px;
  width:88px;
  height:32px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:1541px;
  top:798px;
  width:76px;
  height:40px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
